img{
    height: 150px;
    width: 150px;
}
ul{
    display: flex;
    justify-content: center;
}
.listado{
    margin: 5rem;
}
button{
    height: 3rem;
    margin: 2rem;
}
.vacio{
    display: flex;
justify-content: center;
color: aqua;
}