.productos-li{
    display: flex;
    flex-direction: column;
    border: solid rgb(255, 255, 255);
    border-radius: 3%;
    flex-wrap: wrap;
    min-width: 300px;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
}

h1, h4 {
color: aliceblue;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    max-height: 300px;
}
