nav{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(23, 23, 23);
}
.nav-item{
    margin-left: auto;
    margin-right: auto;
}
.lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;    
}

.lista a{
    text-decoration: none;
    color: white;
    margin: 10px;
    background-color: rgb(23, 48, 48);
    padding: 5px 50px;
    border-radius: 50px;
    transition: 0.5s;
    font-size: 1.5rem;
}

.lista a:hover{
    cursor: pointer;
    color: gray;
}


.logo{
    display:flex;
    justify-content: center;
    min-width: 200px;

    
    

}
.logo:hover{
    cursor: pointer;
}

.compra{
    display: flex;
    min-width: 200px;
}
.compra:hover{
    cursor: pointer;    
}

.carrito{
    height: 4rem;
    width: 4rem;
}

.App-header{
    align-items: flex-start;
    justify-content: start;
}

.compra{
    display: flex;
    flex-direction: row;
}
.contador{
    color: black;
    background-color: white;
    position: absolute;
    width: 40px;
    border-radius: 50%;

    
}